body {
    background:lightgray;
  font: 16px Arial;
  /* CSS variables  */
  --rt-orange: #ee7222;
  --rt-lightblue: #0095db;
  --rt-darkblue: #023770;
  --li_margin: 0.25em;
}
.pagecontainer {
  max-width: 1280px;
  margin: 0 auto;
  background: beige;
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  xgrid-template-rows: fit-content;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "RSFLogo RSFLogo RSFTopics"
    "RSFNews RSFNews RSFNews"
    "RSFTeams RSFYouKnow RSFLinks";
}

/* color <h2 part="subtitle"> in files loaded with <load-file> */
*::part(subtitle) {
    font-size:120%;
  background-color: var(--rt-orange);
  color: var(--rt-darkblue);
  padding: 0.2em;
  margin-block-start: 0;
}
*::part(newsbackground) {
  background-color: var(--rt-lightblue);
}

/* position grid-ares on Homepage */
.RSFLogo {
  grid-area: RSFLogo;
}

.RSFLinks {
  grid-area: RSFLinks;
}

.RSFYouKnow {
  grid-area: RSFYouKnow;
}

.RSFTeams {
  grid-area: RSFTeams;
}

.RSFTopics {
  grid-area: RSFTopics;
}

.RSFNews {
  grid-area: RSFNews;
}
